<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>

      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="WeightScale.MeasurementsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
          <section name="WeightScale.CacheConsumerDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WeightScaleServiceSoap" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.94.22.45:57772/csp/webservices/SWT.WeightScaleService.cls"
                binding="basicHttpBinding"
                bindingConfiguration="WeightScaleServiceSoap"
                contract="SoapProxy.WeightScaleServiceSoap"
                name="WeightScaleServiceSoap"/>
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="logs\"/>
      <datePattern value="dd.MM.yyyy HH'-Measurement.log'"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="60"/>
      <maximumFileSize value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %message%newline"/>
      </layout>
    </appender>
    <logger name="WeightScale.MeasurementsClient">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
  </log4net>
<applicationSettings>
        <WeightScale.MeasurementsClient.Properties.Settings>
                <setting name="TimerDueTime" serializeAs="String">
                        <value>30000</value>
                </setting>
                <setting name="LogFilesCheckMinutesOffset" serializeAs="String">
                        <value>5</value>
                </setting>
        </WeightScale.MeasurementsClient.Properties.Settings>
    </applicationSettings>
</configuration>
