<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeightScale.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeightScale.Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WeightScale.Application.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>Even</value>
            </setting>
            <setting name="DateBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
        </WeightScale.Application.Properties.Settings>
    </applicationSettings>
<userSettings>
        <WeightScale.Application.Properties.Settings>
                <setting name="ReadTimeout" serializeAs="String">
                        <value>500</value>
                </setting>
                <setting name="WriteTimeout" serializeAs="String">
                        <value>500</value>
                </setting>
        </WeightScale.Application.Properties.Settings>
    </userSettings>
</configuration>