@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ul>
            <li>
                <a href="/Manage/ChangePassword?returnUrl=%2FHome%2FIndex"><span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName()</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul>
        <li>
            Anonimous user
        </li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area=string.Empty}, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
